.newClient-Content{
  display: flex; 
  margin-top: 1%;
}

.newClient-Button{
  width: 10%; 
  height: 10%; 
  margin-left: 1%;
}

.form{
  width: 87%; 
  margin-left: 1%;
}

.matSearchfield{
  width: 100%;
}

.headers{
  width: 98%; 
  margin-left: 1%;
}

.main-card{
    margin: 0.5%;
}

.card-header-label{
    color: 	#3f51b5;
    font-size: x-large;
}

.card-header-icon{
    font-size: xx-large;
    color: #3f51b5;
    display: flex;
    align-items: center;
}